*.xlsx
*.csv
*.pdf
*.bin
*.pickle
*.png

__pycache__
ssh-key

results/*.json
db/raw_db_extracted/*
db/cleaned_md/*
qa_data/*
db/*
.env
src/eval.py
.gitattributes
src/models_eval/not_used(쓸려면 여기서 다 꺼내)/*