#https://www.paddleocr.ai/latest/en/version3.x/installation.html

# 1) The following command installs the PaddlePaddle version for CUDA 12.6. For other CUDA versions and the CPU version, please refer to https://www.paddlepaddle.org.cn/en/install/quick?docurl=/documentation/docs/en/develop/install/pip/linux-pip_en.html
pip install paddlepaddle-gpu==3.2.0 -i https://www.paddlepaddle.org.cn/packages/stable/cu126/

# If you want to use all functionalities, such as document parsing, document understanding, document translation, and key information extraction
pip install "paddleocr[all]"

pip install -U pymupdf


### Docling 
pip install docling

